{% extends "layout.html" %}
{% block content %}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
           <br>
        <table class="table table-striped">
            <tread>
                <tr>
                    <th>Texto procesado</th>
                </tr>
            </tread>
            <br>
            <tbody>
                {%  for item in lista_mejorado  %}
                <tr>
                    <td>{{ item }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <form method="POST" action="/dataframe">
            <button type="submit" class="btn btn-primary" name="generar_dataframe">Generar DataFrame
            </form>
    </button>
		</div>
	</div>
</div>


{% endblock %}
